@-webkit-keyframes css-slide-os2n7p{from{opacity:0;}to{opacity:1;}}@keyframes css-slide-os2n7p{from{opacity:0;}to{opacity:1;}}
.css-a5smts{font-size:12px;font-weight:bold;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.css-ntccy5{font-size:11px;opacity:0.75;}