.css-Wrapper-eqn95f { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  height: var(--css-Wrapper-eqn95f-0);
  padding: var(--css-Wrapper-eqn95f-1);
  margin-bottom: var(--css-Wrapper-eqn95f-2);
  background: var(--css-Wrapper-eqn95f-3);
  border-bottom: 1px solid var(--css-Wrapper-eqn95f-4); }
.css-MainContent-yp9swi { -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.css-Summary-1fame8f { padding: var(--css-Summary-1fame8f-0) 0;
  font-size: 13px; }
.css-Image-vg1z0t { height: 100%;
  margin-right: var(--css-Image-vg1z0t-0); }