.css-Wrapper-tr8xu { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: default; }
.css-Checkbox-1qk44xp { width: 15px;
  height: 15px;
  margin-right: var(--css-Checkbox-1qk44xp-0);
  border: var(--css-Checkbox-1qk44xp-1);
  background: var(--css-Checkbox-1qk44xp-2) }
.css-MainContent-11oe0jo { -webkit-flex: 1; -ms-flex: 1; flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: var(--css-MainContent-11oe0jo-0);
  height: var(--css-MainContent-11oe0jo-1);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px); }
.css-Status-1s2vo15 { font-size: 12px;
  color: var(--css-Status-1s2vo15-0); }