.css-ButtonElem-oz758p { font-size: 96px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: var(--css-ButtonElem-oz758p-0);
  height: var(--css-ButtonElem-oz758p-1);
  line-height: var(--css-ButtonElem-oz758p-2);
  border: none;
  color: var(--css-ButtonElem-oz758p-3);
  background: var(--css-ButtonElem-oz758p-4);
  font-family: 'Raleway'; }