.css-EpisodeElem-1dxn35a { display: inline-block;
  height: var(--css-EpisodeElem-1dxn35a-0);
  margin-right: var(--css-EpisodeElem-1dxn35a-1);
  padding: var(--css-EpisodeElem-1dxn35a-2);
  background: var(--css-EpisodeElem-1dxn35a-3);
  color: var(--css-EpisodeElem-1dxn35a-4);
  border-radius: 4px; }
.css-EpisodeNum-1wputeo { font-size: 12px;
  text-transform: uppercase;
  color: var(--css-EpisodeNum-1wputeo-0); }
.css-EpisodeName-ac8vxe { font-size: 15px;
  color: var(--css-EpisodeName-ac8vxe-0); }