.css-EpisodeHeader-uf1ume { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }
.css-EpisodeNum-y4amv7 { font-size: 11px;
  text-transform: uppercase;
  opacity: 0.6; }
.css-EpisodeName-1tdzlck { font-size: 15px;
  line-height: 25px; }
.css-EpisodeAirDate-12hjx5u { font-size: 11px;
  font-weight: normal; }