.css-LogoElem-55w1lv { font-size: 64px;
  font-weight: bold;
  height: var(--css-LogoElem-55w1lv-0);
  line-height: var(--css-LogoElem-55w1lv-1);
  width: var(--css-LogoElem-55w1lv-2);
  text-align: center;
  letter-spacing: -1px;
  font-family: 'Raleway';
  background: -webkit-linear-gradient(#e600a3, #d800ea);
  background: -moz-linear-gradient(#e600a3, #d800ea);
  background: linear-gradient(#e600a3, #d800ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.css-LogoContainer-7ksb77 { display: inline-block;
  background: var(--css-LogoContainer-7ksb77-0); }