.css-LogoElem-1nvqs55 { font-size: 64px;
  font-weight: normal;
  line-height: 50px;
  letter-spacing: -1px;
  font-family: 'Raleway';
  background: -webkit-linear-gradient(#e90092, #da00df);
  background: -moz-linear-gradient(#e90092, #da00df);
  background: linear-gradient(#e90092, #da00df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.css-LogoContainer-iuvftq { display: inline-block;
  background: var(--css-LogoContainer-iuvftq-0);
  padding: 12px; }