.css-Wrapper-rh0urm { position: relative;
  margin-bottom: var(--css-Wrapper-rh0urm-0); }
.css-Input-1t0u2fi { background: transparent;
  border: none;
  outline: none;
  height: var(--css-Input-1t0u2fi-0);
  padding: 0;
  font-size: 20px;
  color: var(--css-Input-1t0u2fi-1);
  width: 100%; }
.css-Input-1t0u2fi::placeholder { color: var(--css-Input-1t0u2fi-2); }
.css-BottomBorder-kyklaq { position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--css-BottomBorder-kyklaq-0); }
.css-BottomBorderHighlight-106pw0g { position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--css-BottomBorderHighlight-106pw0g-0);
  -webkit-transform: var(--css-BottomBorderHighlight-106pw0g-1);
  -ms-transform: var(--css-BottomBorderHighlight-106pw0g-1);
  transform: var(--css-BottomBorderHighlight-106pw0g-1);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transition: -webkit-transform 400ms,transform 400ms;
  transition: -ms-transform 400ms,-webkit-transform 400ms,transform 400ms; }