.css-headingCSS-4k9dd5 { display: block;
  font-weight: bold;
  font-family: 'Raleway'; }
.css-HeadingLarge-1eojnk0 {
  font-size: 72px;
  letter-spacing: -2px;
  color: var(--css-HeadingLarge-1eojnk0-0); }
.css-HeadingMedium-vrh5jc {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 32px;
  margin-bottom: var(--css-HeadingMedium-vrh5jc-0);
  color: var(--css-HeadingMedium-vrh5jc-1) }
.css-HeadingSmall-11hbd24 {
  font-size: 22px;
  line-height: 18px;
  color: var(--css-HeadingSmall-11hbd24-0); }