.css-headingCSS-4k9dd5 { display: block;
  font-weight: bold;
  font-family: 'Raleway'; }
.css-HeadingLarge-h0wsnj {
  font-size: 72px;
  letter-spacing: -1px;
  color: var(--css-HeadingLarge-h0wsnj-0); }
.css-HeadingMedium-125gzpx {
  font-size: 48px;
  line-height: 36px;
  color: var(--css-HeadingMedium-125gzpx-0); }
.css-HeadingSmall-1knw1gd {
  font-size: 24px;
  color: var(--css-HeadingSmall-1knw1gd-0); }