.css-Wrapper-1qyhqdj { position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: var(--css-Wrapper-1qyhqdj-0); }
.css-Backdrop-1ht6258 { position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  opacity: var(--css-Backdrop-1ht6258-0);
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms; }
.css-ModalElem-y2km7q { position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  background: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  -webkit-transform: var(--css-ModalElem-y2km7q-0);
  -ms-transform: var(--css-ModalElem-y2km7q-0);
  transform: var(--css-ModalElem-y2km7q-0);
  -webkit-transition: -webkit-transform 500ms,transform 500ms;
  transition: -ms-transform 500ms,-webkit-transform 500ms,transform 500ms; }