.css-LogoWrapper-19jh37d { position: absolute;
  height: var(--css-LogoWrapper-19jh37d-0);
  left: var(--css-LogoWrapper-19jh37d-1);
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }
.css-AddShowButtonWrapper-15k71qr { position: absolute;
  right: var(--css-AddShowButtonWrapper-15k71qr-0);
  bottom: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }