.css-Wrapper-y2a67w { color: var(--css-Wrapper-y2a67w-0);
  background: var(--css-Wrapper-y2a67w-1);
  box-shadow: 1px 0px 3px rgba(0,0,0,0.9); }
.css-Row-4f7v5a { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  height: var(--css-Row-4f7v5a-0); }
.css-ShowDetails-fbwpey { display: block;
  position: relative;
  padding: var(--css-ShowDetails-fbwpey-0);
  width: var(--css-ShowDetails-fbwpey-1);
  box-shadow: 0px 1px 6px rgba(0,0,0,0.4); }
.css-ShowName-o92433 { font-size: 22px;
  font-weight: bold;
  margin-top: -3px;
  margin-bottom: 3px; }
.css-TagWrapper-1o9a21d { position: absolute;
  left: var(--css-TagWrapper-1o9a21d-0);
  bottom: var(--css-TagWrapper-1o9a21d-1); }
.css-EpisodeWrapper-d20ufr { position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: var(--css-EpisodeWrapper-d20ufr-0);
  margin-right: var(--css-EpisodeWrapper-d20ufr-1);
  overflow: hidden;
  white-space: nowrap;
  padding-left: var(--css-EpisodeWrapper-d20ufr-2); }
.css-EpisodeGradient-n19iq1 { position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
  background: -webkit-linear-gradient(
    to right,
    rgba(255,255,255,0),
    rgba(255,255,255,0.8)
  );
  background: -moz-linear-gradient(
    to right,
    rgba(255,255,255,0),
    rgba(255,255,255,0.8)
  );
  background: linear-gradient(
    to right,
    rgba(255,255,255,0),
    rgba(255,255,255,0.8)
  ); }