.css-CheckboxElem-hxejny { width: var(--css-CheckboxElem-hxejny-0);
  height: var(--css-CheckboxElem-hxejny-1);
  margin-right: var(--css-CheckboxElem-hxejny-2);
  border: var(--css-CheckboxElem-hxejny-3);
  background: var(--css-CheckboxElem-hxejny-4) }