.css-1st0pr9{-webkit-transform-origin:right center;-ms-transform-origin:right center;transform-origin:right center;will-change:transform;}
.css-cssveg{position:relative;}
.css-1diyz6t{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;}
.css-136usv2{position:absolute;left:0;right:0;bottom:-35px;font-size:12px;text-align:center;}